
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c38651;
  border-radius: 5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 252, 252);
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover:not(.active) {
  background-color: #572d10;
}

.active {
  background-color: #732116;
}

div.gallery {
  margin: 25px;
  border: 1px solid #ccc;
  float: left;
  width: 320px;
  border-radius: 3px;

}

div.gallery:hover {
  border: 1px solid #e0d5d5;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 30px;
  text-align: center;
}

h1{
  text-align: center;
  text-align: center;
  padding: 18px 18px;
  font-family: 'Outfit', sans-serif;
  font-family: 'Playfair Display', serif;
}
